<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.send</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3E92589C-728B-456E-87C6-307F35A5B5F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8778EE3-FE9A-4B3D-BF7D-FFFE613906B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>61C82446-00A7-4FC8-B7ED-5811607E368B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8778EE3-FE9A-4B3D-BF7D-FFFE613906B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>65FC8785-9D10-47B0-A88F-C4776A40EBD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82DE4BCA-A147-4C37-89DA-1FE897BA7ED8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7051CDFD-2C10-4DA2-8DFC-7495E135E33B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61C82446-00A7-4FC8-B7ED-5811607E368B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>82DE4BCA-A147-4C37-89DA-1FE897BA7ED8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8778EE3-FE9A-4B3D-BF7D-FFFE613906B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8C9DF745-FCB8-47B5-8AC7-15769EA1F745</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E92589C-728B-456E-87C6-307F35A5B5F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9066E1CD-5BF7-435E-A0B7-3387BADC5A6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61C82446-00A7-4FC8-B7ED-5811607E368B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9F3D4658-F0B7-498D-B1C3-22728FAF7175</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82DE4BCA-A147-4C37-89DA-1FE897BA7ED8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BA1D050C-D632-4102-84D5-09CDEBE56E43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82DE4BCA-A147-4C37-89DA-1FE897BA7ED8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EF6A2B86-264A-4CEB-89CC-B4139E0B1E7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61C82446-00A7-4FC8-B7ED-5811607E368B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Send documents to the cloud (v. 1.1)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SEND</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>send:config</string>
				<key>script</key>
				<string>python filter_config.py</string>
				<key>title</key>
				<string>Configure SEND Settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C9DF745-FCB8-47B5-8AC7-15769EA1F745</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># set the folder
nonvolatile="/Users/$USER/Library/Application Support/Alfred 2/Workflow Data/com.hackademic.send"

# set the settings file
setting="settings.json"

# create storage folder, if necessary
if [ ! -d "$nonvolatile" ]
then
	# make the directory
	mkdir "$nonvolatile"
fi

# create settings file, if necessary
if [ ! -e "$nonvolatile/$setting" ]
then
	# make the settings file
	touch "$nonvolatile/$setting"
fi

osascript config.scpt "{query}"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E92589C-728B-456E-87C6-307F35A5B5F1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7051CDFD-2C10-4DA2-8DFC-7495E135E33B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>osascript action_duplicate.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>61C82446-00A7-4FC8-B7ED-5811607E368B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>send:d</string>
				<key>text</key>
				<string>Send a Duplicate of open file?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9066E1CD-5BF7-435E-A0B7-3387BADC5A6B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Send a Duplicate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>EF6A2B86-264A-4CEB-89CC-B4139E0B1E7F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F8778EE3-FE9A-4B3D-BF7D-FFFE613906B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9F3D4658-F0B7-498D-B1C3-22728FAF7175</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>osascript action_move.scpt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82DE4BCA-A147-4C37-89DA-1FE897BA7ED8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>send:o</string>
				<key>text</key>
				<string>Send the Original file?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BA1D050C-D632-4102-84D5-09CDEBE56E43</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Send the Original</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>65FC8785-9D10-47B0-A88F-C4776A40EBD3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3E92589C-728B-456E-87C6-307F35A5B5F1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>61C82446-00A7-4FC8-B7ED-5811607E368B</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>65FC8785-9D10-47B0-A88F-C4776A40EBD3</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>7051CDFD-2C10-4DA2-8DFC-7495E135E33B</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>82DE4BCA-A147-4C37-89DA-1FE897BA7ED8</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>8C9DF745-FCB8-47B5-8AC7-15769EA1F745</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9066E1CD-5BF7-435E-A0B7-3387BADC5A6B</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>9F3D4658-F0B7-498D-B1C3-22728FAF7175</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>BA1D050C-D632-4102-84D5-09CDEBE56E43</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>EF6A2B86-264A-4CEB-89CC-B4139E0B1E7F</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>F8778EE3-FE9A-4B3D-BF7D-FFFE613906B6</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
